/* AccountComponent.css */

.account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(218, 214, 214);
  margin-bottom: 12px;
  padding: 20px; /* Add padding for better spacing */
}

.account-info {
  display: flex;
  flex-direction: column; /* Adjust to column layout for smaller screens */
  align-items: center;
  gap: 10px; /* Reduce gap between items */
}

.input-field {
  margin-left: 0; /* Remove margin for smaller screens */
}

.action-icons {
  padding: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center; /* Center align icons */
  gap: 40px; /* Adjust gap between icons */
  margin-top: 20px; /* Add margin top for spacing */
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
  .account-info {
      align-items: flex-start; /* Adjust alignment for smaller screens */
  }

  .action-icons {
      gap: 20px; /* Reduce gap between icons for smaller screens */
  }
}
