/* App.css (or any other stylesheet you're using) */

/* Style for the Spaces component container */
.spaces-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
  }
  
  /* Style for the new space creation input and button */
  .new-space-form {
    margin-bottom: 20px;
    /* padding-bottom: 20px; */
    gap: 20px;
  }
  
  .new-space-form input {
    padding: 8px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  
  /* Style for the list of existing spaces */
  .space-list {
    list-style-type: none !important;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .space-list li {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  /* Style for the join space button */
  .space-list li button {
    background-color: #4caf50;
    color: #fff;
    padding: 8px;
    cursor: pointer;
    border: none;
    margin-bottom: 20px;
  }
  
  .space-list li button:hover {
    background-color: #45a049;
  }
  